<div class="topbar">
    <div class="toggle"><i class="fas fa-bars bars"></i><i class="fas fa-times close"></i></div>
    <a href="/dashboard/addWidgets" class="btn btn-primary"><i class="fas fa-plus"></i> Add</a>
    <div class="user"><%= (user)? user.name: '' %> </div>
    <% let userId = user.id %> 
</div>